version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: "ci"
    groups:
      actions:
        update-types:
          - minor
          - major
          - patch

  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: monthly
    groups:
      patches:
        update-types:
          - patch
