[package]
name = "alioth"
version = "0.1.0"
edition = "2021"
description = "A library for virtualization"
repository.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
thiserror = "1"
zerocopy = { version = "0.7.32", features = ["derive", "alloc"] }
bitflags = "2.4.0"
bitfield = "0.15.0"
log = "0.4"
mio = { version = "0.8.8", features = ["os-poll", "os-ext", "net"] }
rand = "0.8.5"
libc = "0.2.150"
parking_lot.workspace = true

[dev-dependencies]
assert_matches = "1"
