name: Rust

permissions: read-all

on:
  push:
    branches: ["main"]
    paths: &on_paths
      - "**/*.rs"
      - "**/Cargo.toml"
      - Cargo.lock
      - .github/workflows/rust.yml
  pull_request:
    branches: ["main"]
    paths: *on_paths

env:
  CARGO_TERM_COLOR: always

jobs:
  build_test:
    strategy:
      matrix:
        target:
          - name: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - name: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
          - name: aarch64-apple-darwin
            os: macos-latest
    runs-on: ${{ matrix.target.os }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ matrix.target.name }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install nightly Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt,llvm-tools
      - name: Install stable Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install tools
        uses: taiki-e/install-action@650c5ca14212efbbf3e580844b04bdccf68dac31 # v2.67.18
        with:
          tool: cargo-llvm-cov,cargo-deny
      - name: Check dependencies
        run: cargo deny check
      - name: Build
        run: cargo build --verbose
      - name: Format
        run: cargo +nightly fmt --check
        if: matrix.target.name == 'x86_64-unknown-linux-gnu'
      - name: Run tests and collect coverage
        env:
          RUST_LOG: "trace"
        run: |
          cargo +nightly llvm-cov clean --workspace
          cargo +nightly llvm-cov --branch \
              --no-clean --workspace --ignore-filename-regex '.*_test.rs$' \
              --lcov --output-path lcov-${{ matrix.target.name }}.info
      - name: Clippy
        run: cargo clippy -- -D warnings
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: lcov-${{ matrix.target.name }}.info
          path: lcov-${{ matrix.target.name }}.info

  upload_coverage:
    needs: build_test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Download coverage reports
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: lcov
          pattern: lcov-*.info
          merge-multiple: true
      - name: Merge coverage reports
        run: |
          sed -i 's#SF:/Users/#SF:/home/#g' lcov/*apple-darwin*.info
          npx lcov-result-merger 'lcov/lcov-*.info' lcov.info
      - name: Upload coverage
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
        continue-on-error: true
