name: Rust

permissions: read-all

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_test:
    strategy:
      matrix:
        target:
          - name: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - name: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
          - name: aarch64-apple-darwin
            os: macos-latest
    runs-on: ${{ matrix.target.os }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.rustup/settings.toml
            ~/.rustup/toolchains/
            ~/.rustup/update-hashes/
            target/
            target/tarpaulin/
          key: ${{ matrix.target.name }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install nightly Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
        if: matrix.target.name == 'x86_64-unknown-linux-gnu'
      - name: Install stable Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Install tools
        run: |
          cargo install cargo-tarpaulin cargo-update && \
          cargo install-update -a
      - name: Build
        run: cargo build --verbose
      - name: Format
        run: cargo +nightly fmt --check
        if: matrix.target.name == 'x86_64-unknown-linux-gnu'
      - name: Run tests
        run: cargo test --verbose
      - name: Clippy
        run: cargo clippy -- -D warnings
      - name: Collect coverage
        run: cargo tarpaulin --skip-clean --target-dir target/tarpaulin -o Lcov
      - name: Upload coverage
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        continue-on-error: true
